::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #091e3e;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0d2c5a;
}

.my-scroll-container {
  overflow-y: scroll;
  max-height: 300px;
  scrollbar-width: thin;
  scrollbar-color: #888 #f0f0f0;
}
.ant-picker-time-panel {
  display: none !important;
}
.selectedCutClass {
  opacity: 50%;
}
* {
  padding: 0px;
  box-sizing: border-box;
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
}
body {
  height: 100%;
  background-image: url('/bg1.svg') !important;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0%;
  overflow-x: hidden;
}
